{% extends "review/base.html" %}
{% block content %}


<style type=text/css>
	
	.center {
	    margin: auto;
	    width: 80%;
	    border: 3px solid none;
	    padding: 10px;
	}

	#aboutPar {

    	text-align: justify;
    	text-justify: inter-word;
	}


</style>


<div class="center">
	<h1>About KelasKu</h1>
	<div id="aboutPar">
		<p>
			Kelasku’s mission is to share information and help other students. A simple information about a course or a lecturer can benefit students in choosing the right courses for them to take. We want to connect lecturers, students, and everyone around campus who have knowledge to the others who need it, to bring together them with different perspectives so they can understand each other better, and to empower everyone to share their knowledge for it. 
		</p>
		<p>
			The heart of Kelasku is reviews — reviews that guide students to make decisions, and provide insights into why other people think differently. Kelasku is a place where you can find information and contribute to the campus society as a whole.
		</p>
	</div>
</div>
{% endblock content %}


